input[type="range"] {
  -webkit-appearance: none;
  background-image: linear-gradient(#0C8CE9, #0C8CE9);
  background-size: 70% 100%;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #2C2C2C;
  border: 1px solid #0C8CE9;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  transition: background .3s ease-in-out;
}

input[type=range]::-webkit-slider-runnable-track  {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

